# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data
data/*.csv
*.pkl
*.joblib

# AWS credentials
.aws/
*.pem

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment
.env